<div class="menu-expand" {{action "toggleMenu"}}>
{{#if expanded}}
	<span class="glyphicon glyphicon-menu-left"></span>
{{else}}
	<span class="glyphicon glyphicon-menu-right"></span>
{{/if}}
</div>

{{#each menuItems as |item|}}
	<div class={{item.classNames}} {{action "goTo" item}}>
		<i class="{{item.icon}}"></i>&nbsp;
		<span>{{item.text}}</span>
	</div>
{{/each}}
