<div class="signin-background"></div>
<div class="signin-form">
	<div class="signin-form-center">
		<div>
			<div class={{login.classNames}} {{action 'selectTab' login.type}}>
				<h2>{{login.text}}</h2>
			</div>
			<div class={{signup.classNames}} {{action 'selectTab' signup.type}}>
				<h2>{{signup.text}}</h2>
			</div>
		</div>

		{{#if login.selected}}
			<div>
				{{signin-form}}
			</div>
		{{else}}
			<div>
				{{signup-form}}
			</div>
		{{/if}}
	</div>
</div>